---
import Credit from "../components/Credit.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import ProjectCard from "../components/ProjectCard.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Home";
---

<BaseLayout pageTitle={pageTitle}>
  <Header />
  <h1>Son Chau</h1>
  <p>
    Hey there! I'm a software engineer with a knack for building awesome things. 
	I've been at it for many years now. I rock at making cool, user-friendly stuff 
	and know my way around Python and JavaScript. 
	Beyond work, I like tinkering with new tech and tricks to cook up fun and interactive experiences. 
	Let's connect!
	
  </p>
  <h2>Projects</h2>
  <ul class="horizontal-list">
    <ProjectCard
      name="Mai's Clothing"
      description="Full-fledged e-commerce website using React, Redux, GraphQL"
      url="https://github.com/SonQBChau/crown-clothing"
    />
    <ProjectCard
      name="Fiducial Table"
      description="Interactive table which detected and tracked several objects placed on its surface with an infrared camera using reacTIVision and Unity"
      url="https://github.com/SonQBChau/Interactive-table"
    />
    <ProjectCard
      name="Movie Recommendation"
      description="A recommender system model that employs collaborative filtering to suggest relevant videos to each specific user"
      url="https://github.com/SonQBChau/movie-recommender"
    />
    <ProjectCard
      name="WoW Classic Talent Calculator"
      description="Wow Classic talent calculator using Flutter"
      url="https://github.com/SonQBChau/wow_classic_talent_calculator"
    />
  </ul>
  <Footer />
  <Credit />
</BaseLayout>
