---

---
<footer>
  <div class="dashed"></div>
  <ul class="horizontal-list">
    <li>
      <a href="https://github.com/SonQBChau" target="_blank">github</a>&nbsp;&nbsp;
    </li>
    <li>
      <a href="https://www.linkedin.com/in/son-chau/" target="_blank">linkedin</a>&nbsp;&nbsp;
    </li>

</ul>
</footer>