---

---

<header>
  <nav>
    <ul class="horizontal-list">
      <li>
        <a href="/sonqbchau.github.io/">home</a>
        &nbsp;&nbsp;
      </li>
      <li>
        <a href="/sonqbchau.github.io/blog">blog</a>
        &nbsp;&nbsp;
      </li>
    </ul>
  </nav>
  <div class="dashed"></div>
</header>
