---

---

<header>
	<nav>
		<ul class="horizontal-list">
			<li>
			  <a href="/">home</a>&nbsp;&nbsp;
			</li>
			<li>
			  <a href="/blog">blog</a>&nbsp;&nbsp;
			</li>
		</ul>
	</nav>
	<div class="dashed"></div>
</header>

