---
const { url, name, description } = Astro.props;
---

<li class="card">
  <a href={url}>
    <span class="header">
      {name}
    </span>
    <hr />
    <p class="body">
      {description}
    </p>
  </a>
</li>
